.profile {
    margin-top: 20px !important;
  
    &__left {
      display: flex !important;
      align-items: center;
      justify-content: center;
  
      .ui.image.avatar {
        width: 170px;
        height: 170px;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  
    &__right {
      .other {
        .name {
          font-size: 16px;
          margin-bottom: 3px;
          font-weight: bold;
        }
        .description {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
}

.profile__followers {
    display: flex;
  
    p {
      margin-right: 50px;
      font-size: 16px;
  
      &.link:hover {
        cursor: pointer;
      }
  
      span {
        font-weight: bold;
      }
    }
}

.profile__modal {
    border-radius: 15px !important;
    overflow: hidden;
    
    .header {
        text-align: center;
    }
}

.profile__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    h2 {
      margin: 0 30px 0 0;
    }
  
    button {
      padding: 5px 20px !important;
      background-color: transparent !important;
      border: 1px solid $border-grey !important;
      &:hover,
      &:focus {
        background-color: transparent !important;
      }
    }
  }

.profile__posts {
    margin-top: 50px;
}

.profile__post {
    height: 100%;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  
    &__image {
      width: 100%;
      height: 100%;
    }
}